* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(228, 225, 225);
  font-family: "Roboto", sans-serif;
  padding: 3rem;
  color: #fff;
}
.hero {
  background-image: linear-gradient(
    to right,
    bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 128, 0, 0.094)
  );
  background-image: url(../media/home.image.avif);
  background-size: cover;
  background-repeat: no-repeat;
  height: 58rem;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.left-nav {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}
.center-nav {
  font-size: 3rem;
  text-transform: capitalize;
  font-family: "jacquard", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.right-nav {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
}
.nav-icon {
  font-size: 3rem;
}
.nav-menu {
  font-size: 1.6rem;
}
.nav-term {
  font-size: 1.6rem;
}

.nav-events {
  font-size: 1.6rem;
}
.nav-contact {
  font-size: 1.6rem;
}
.hero-heading {
  font-size: 4.8rem;
  width: 50rem;
  text-transform: capitalize;
  padding-top: 18rem;
  padding-left: 5rem;
  color: #fff;
}
.intro {
  color: black;
  margin-top: 10rem;

  width: 100%;
}
.who {
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}
.intro-heading {
  width: 40rem;
  font-size: 4.4rem;
}
.intro-para {
  width: 40rem;
  font-size: 1.6rem;
}
.head-icon {
  font-size: 2rem;
  border-radius: 50%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid black;
  margin-top: 5rem;
  margin-right: 1rem;
}
.head-icon:hover{
    scale: 1.2;
}
.restaurant {
  margin-left: 7rem;
}
.restaurant-image {
  border-left: 1rem solid  rgb(119, 159, 119);
  border-top: 1rem solid  rgb(141, 189, 141);
  height: 32rem;
  width: 35rem;
  
  margin-right: 1rem;
  animation-name: restaurant-image;
  animation-duration: 5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}


@keyframes restaurant-image{
  0%{
    opacity: 0;
    transform: translate-Y(100%);
  }
  80%{
    transform: translate-Y(80%)
  }
  100%{
    opacity: 1;
    transform: translate-Y(0);
  }
}

.menu{

  margin-top: 9rem;
}
.menu-heading{
text-align: center;
color: black;
text-transform: capitalize;
font-size: 3.2rem;
padding-top: 5rem;
font-weight: 900;
}
.menu-para{
  text-align: center;
color: black;
text-transform: capitalize;
font-size: 1.4rem;
line-height: 1.4;
padding-top: 1.8rem;
width: 50rem;
margin: 0 auto;
}
.menu-list{
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  color: black;
  list-style: none;
  margin-top: 4rem;
  margin-left: 32rem;
}
.menu-lists{
  font-size: 2rem;
  border: 1px solid rgb(124, 124, 124);
  padding: 0.8rem;
  border-radius: 1.1rem;
  text-transform: capitalize;

}
.menu-lists:hover{
  scale: 1.1;
}
.lists{
  background-color: rgb(208, 205, 205);
}
.menu-image{
margin-top: 5rem;
margin-left: 6rem;
display: flex;

}
.menu-food{
  height: 30rem;
  width: 25rem;
  padding-right: 1rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.126);
}
.menu-icon{
  color: black;
  margin-top: 12rem;
  margin-left: 2rem;
}
.food-name{
  color: black;
  font-size: 1.4rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 900;
}
.food-price{
  color: black;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
}
.beverage{
  margin-top: 20rem;
  display: flex;
  gap: 15rem;
  align-items: center;
  margin-left: 10rem;
}
.beverages{
  animation-name: beverages;
  animation-duration: 2s;
  animation-iteration-count:1;
  animation-timing-function: ease-in-out;
}

@keyframes beverages{
  0%{
    opacity: 0;
    transform: translateX(100%);
  }
  80%{
    transform: translateX(80%)
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.beverage-juice{
  height: 50rem;
  width: 35rem;
}
.beverage-name{
  color: black;
  font-size: 1.8rem;
  text-align: start;
  text-transform: capitalize;
  font-weight: 700;
  
}
.beverage-para{
  color: black;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
}
.beverage-price{
  color: black;
  font-size: 1.4rem;
  text-align:start;
  
}
.juice{
  color: black;
  font-size: 5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.wine{
  color: rgb(141, 189, 141);
}
.juice-hr{
  width: 150%;
}
.beer-icon{
  display: block;
  color: black;
  margin-left: -12rem;
  margin-bottom: -4rem;
}
.beverage-icon{
  margin-top: 25rem;
}
.team{
  background-color: rgb(159, 180, 159);
  height: 60rem;
  padding-top: 2rem;
}
.chefs{
display: flex;
gap: 2rem;
}
.chef-image{
  height: 32rem;
  width: 25rem;
  padding: 1rem;
  border: none;
  
}
.chef-para{
  width:20rem;
  text-align: center;
  font-size: 1.1rem;
  margin-left: 2rem;
}
.chef-name{
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.chef-team{
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  text-transform: capitalize;
}
.event{
height: 96rem;

}
.event-heading{
  color: black;
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  padding: 5rem;
}
.event-image{
  height: 25rem;
  width: 55rem;
}
.event-images{
  margin-left: 4.5rem;
}

.footer{
  height: 20rem;
  background-color: rgb(159, 180, 159);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-heading{
  color: rgb(80, 80, 80);
  text-transform: capitalize;
  font-size: 2rem;

  padding-top: 2rem;
}
.footer-icons {
  display: inline-block;

  color:rgb(80, 80, 80);
  font-size: 2rem;
  padding-right: 1rem;
  padding-top: 5rem;
}
.footer-icon{
  margin-left: 51rem;
}
.footer-list{
  list-style: none;
display: flex;

}
.footers-list{
  padding-bottom: 5rem;
  color:rgb(80, 80, 80) ;
  font-size: 1.2rem;
  padding: 2rem 1rem;
  text-transform: capitalize;

}